$body-color: #F8F8F8;
$text-color: #031B4A;
$grey: #93A3C0;
$blue: #4040B2;
$blue-100: #E3EDFE;
$green: #36CC75;
$green-100: #EFFAF4;
$yellow: #FFBC00;
$yellow-100: #FEF6E4;

$breakpoints: (
  "mobile": 768px,
  "tablet": 768px,
  "desktop": 990px,
  "large-desktop": 1200px,
);